[submodule "contrib/imgui"]
	path = contrib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/nlohmann/json.git
[submodule "contrib/tinycolormap"]
	path = contrib/tinycolormap
	url = https://github.com/yuki-koyama/tinycolormap.git
[submodule "contrib/viterbi-decoder-cpp"]
	path = contrib/viterbi-decoder-cpp
	url = https://github.com/williamyang98/ViterbiDecoderCpp.git
